<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servletTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServTest</display-name>
    <servlet-name>ServTest</servlet-name>
    <servlet-class>com.vosamo.serv.ServTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServTest</servlet-name>
    <url-pattern>/ServTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelloForm</display-name>
    <servlet-name>HelloForm</servlet-name>
    <servlet-class>com.vosamo.serv.HelloForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloForm</servlet-name>
    <url-pattern>/HelloForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckBox</display-name>
    <servlet-name>CheckBox</servlet-name>
    <servlet-class>com.vosamo.serv.CheckBox</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckBox</servlet-name>
    <url-pattern>/CheckBox</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Refresh</display-name>
    <servlet-name>Refresh</servlet-name>
    <servlet-class>com.vosamo.serv.Refresh</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Refresh</servlet-name>
    <url-pattern>/Refresh</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayHeader</display-name>
    <servlet-name>DisplayHeader</servlet-name>
    <servlet-class>com.vosamo.serv.DisplayHeader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayHeader</servlet-name>
    <url-pattern>/DisplayHeader</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>DisplayHeaderFilter</display-name>
    <filter-name>DisplayHeaderFilter</filter-name>
    <filter-class>com.vosamo.serv.DisplayHeaderFilter</filter-class>
    <init-param>
      <param-name>Site</param-name>
      <param-value>菜鸟教程</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DisplayHeaderFilter</filter-name>
    <servlet-name>DisplayHeader</servlet-name>
    <url-pattern>/servletTest/DisplayHeader</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SessionTrack</display-name>
    <servlet-name>SessionTrack</servlet-name>
    <servlet-class>com.vosamo.serv.SessionTrack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionTrack</servlet-name>
    <url-pattern>/SessionTrack</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseAccess</display-name>
    <servlet-name>DatabaseAccess</servlet-name>
    <servlet-class>com.vosamo.serv.DatabaseAccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseAccess</servlet-name>
    <url-pattern>/DatabaseAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.vosamo.serv.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageRedirect</display-name>
    <servlet-name>PageRedirect</servlet-name>
    <servlet-class>com.vosamo.serv.PageRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageRedirect</servlet-name>
    <url-pattern>/PageRedirect</url-pattern>
  </servlet-mapping>
</web-app>